<template>
  <v-toolbar
    color="primary" fixed dark
    app
    >
    <v-toolbar-title class="ml-0 pl-3">
    </v-toolbar-title>
      <v-toolbar-side-icon @click.stop="handleDrawerToggle"></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-btn icon @click="handleFullScreen()">
        <v-icon>fullscreen</v-icon>
      </v-btn>
      <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">
        <v-btn icon large flat slot="activator">
          <v-avatar size="30px">
            <img src="/imagens/DMTE.png" alt="Usuário"/>
          </v-avatar>
        </v-btn>
        <v-list class="pa-0">
          <v-list-tile v-for="(item,index) in items" :to="!item.href ? { name: item.name } : null" :href="item.href" @click="item.click" ripple="ripple" :disabled="item.disabled" :target="item.target" rel="noopener" :key="index">
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
      <CadastroPerfil :dialogo_perfil="dialog"></CadastroPerfil>
  </v-toolbar>
</template>
<script>
import { vm } from "./../main";
import NotificationList from '@/components/widgets/list/NotificationList';
import CadastroPerfil from "@/views/form/CadastroPerfil.vue";
import Util from '@/util';
export default {
  name: 'app-toolbar',
  components: {
    NotificationList,
    CadastroPerfil
  },
  data: () => ({
    dialog: false,
    items: [
      // {
      //   icon: "people_alt",
      //   href: "#",
      //   title: "Perfis",
      //   rota: "teste",
      //   mostra:false,
      //   click: e => {
      //     vm.$emit("dialogo_perfil")
      //   }
      // },      
      {
        icon: 'fullscreen_exit',
        href: '#',
        title: 'Logout',
        click: (e) => {
          window.getApp.$emit('APP_LOGOUT');
        }
      }
    ],
  }),
  computed: {
    toolbarColor () {
      return this.$vuetify.options.extra.mainNav;
    }
  },
  methods: {
    handleDrawerToggle () {
      window.getApp.$emit('APP_DRAWER_TOGGLED');
    },
    handleFullScreen () {
      Util.toggleFullScreen();
    }
  }
};
</script>
