<template>
  <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap v-bind="loadDados">
        <!-- <v-flex xl4></v-flex> -->
        <v-flex lg12>
          <div slot="widget-content">
            <v-dialog v-model="basic.dialog" persistent max-width="500px">
              <v-btn color="primary" dark slot="activator">Novo Registro</v-btn>
              <v-card>
                <form @submit.prevent="editmode ? atualizar() : salvar()">
                  <v-card-title>
                    <span class="headline">{{ editmode ? 'Editar Noticia' : 'Adicionar Noticia' }}</span>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12>
                          <v-text-field v-model="form.titulo" name="titulo" label="titulo"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field v-model="form.texto" name="texto" label="texto"></v-text-field>
                        </v-flex> 
                        <div class="col-md-5" >
                            <label >
                            <div class="select-button">
                            <span v-if="file!=''">Foto selecionada</span>
                            <span v-else>Selecione uma foto</span>
                            </div>
                            <input 
                            type="file" @change="onFilePicked"
                            accept="image/*"
                            />
                        </label>
                        </div>
                        <br><br><br><br>
                        <v-flex xs12 class="posicao" style="margin-left: 5px;">
                          <v-checkbox @click.native="checked = !checked" primary hide-details class="flutuar"
                            v-if="editmode"></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="fechaModal()">Fechar</v-btn>
                    <v-btn color="blue darken-1" type="submit" flat>Salvar</v-btn>
                  </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
          </div>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field flat solo prepend-icon="search" placeholder="Busca" v-model="search" hide-details
                class="hidden-sm-and-down"></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table :headers="complex.headers" :search="search" :items="dados"
                :rows-per-page-items="[10, 25, 50, { text: 'Todos', 'value': -1 }]" rows-per-page-text="Itens por página"
                no-results-text="Nenhum dado encontrado" no-data-text="Não há dados disponí­veis" class="elevation-1"
                item-key="id" select-all v-model="complex.selected">
                <template slot="items" slot-scope="props">
                  <td>
                    <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                  </td>
                  <td>{{ props.item.titulo}}</td>
                  <td>{{ props.item.texto }}</td>
                  <td class="text-xs-center">
                    <v-btn @click.native="getDados(props.item)" depressed outline icon fab dark color="primary" small>
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn depressed outline icon fab dark color="pink" small @click.native="excluir(props.item.id)">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </td>
                </template>
                <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                  {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<style scope="">
.flutuar {
  position: absolute;
  left: -17px;
  top: -2px;
}

.posicao {
  position: relative;
}

.theme--light.v-messages {
  display: none !important;
}

.v-text-field {
  padding-top: 2px !important;
  margin-top: 2px !important;
}

.v-input--selection-controls__ripple {
  height: 31px !important;
  width: 34px !important;
  left: -17px !important;
  top: calc(42% - 24px) !important;
}
</style>
  
<script>
import VWidget from "@/components/VWidget";
import { Message, MessageBox } from "element-ui";
import { vm } from "../../../main";
export default {
  components: {
    VWidget
  },
  data() {
    return {
      loading: false,
      avisos: {},
      search: "",
      perfil: [],
      dados: [],
      Noticia: [],
      checked: false,
      editmode: false,
      basic: {
        dialog: false
      },
      fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false
      },
      form:{
        file:'',
        titulo: '',
        texto: '',
        errors: {}
      },
      complex: {
        selected: [],
        headers: [
          {
            text: "titulo",
            align: "left",
            value: "titulo"
          },
          { text: "texto", value: "texto" ,},
          { text: "Ações", value: "action", align: "center" }
        ]
      }
    };
  },
  methods: {
    fechaModal: function () {
      this.editmode = false;
      this.checked = false;
      this.limparCampos()
    },
    onChange(e) {
              this.form.file = e.target.files[0];
          },      
          onFilePicked(e) {
  let campo = e.target.name;
  let file = e.target.files[0];
  if (file) {
    let reader = new FileReader();
    let tipo = file.type.split('/')[0];
    let limit = 1024 * 1024 * 2;

    if (tipo === 'image') {
      if (file.size > limit) {
        alert('Sua imagem é maior que 2MB');
        return false;
      }
    } else {
      alert('Somente imagens');
      return false;
    }

    var canvas = document.createElement('canvas'); // Crie um novo elemento canvas
    var ctx = canvas.getContext('2d');
    var img = new Image();
    var maxW = 130;
    var maxH = 130;

    reader.onload = (e) => {
      img.onload = function () {
        var iw = img.width;
        var ih = img.height;
        var scale = Math.min(maxW / iw, maxH / ih);
        var iwScaled = iw * scale;
        var ihScaled = ih * scale;
        canvas.width = iwScaled;
        canvas.height = ihScaled;
        ctx.drawImage(img, 0, 0, iwScaled, ihScaled);

        // Aqui você pode salvar a imagem em base64
        var base64ImageData = canvas.toDataURL('image/jpeg'); // Altere o formato se necessário

        // Agora, você pode definir this.form.file com a base64ImageData
        this.form.file = base64ImageData;

        console.log("Base64 da imagem:", base64ImageData);
      }.bind(this); // Certifique-se de usar bind(this) para manter o contexto adequado
      img.src = e.target.result;
    };

    reader.readAsDataURL(file);
  }
  },                  
    salvar: function () {
      this.$Progress.start();
      let loader = this.$loading.show();
      this.$http.post("/api/Noticia", this.form).then(data => {
        this.limparCampos();
        window.getApp.$emit("APP_SAVE");
        this.$Progress.finish();
      })
      .catch((e) => {
        this.form.errors = e.response.data.errors;
        console.log(e.response.data.errors);
      })
      .finally(() => {
        loader.hide(); // O loader.hide() deve estar dentro do bloco finally
        this.$Progress.finish(); // Certifique-se de que o $Progress.finish() também esteja no bloco finally
      });
    },

    getDados: function (dados) {
      this.editmode = true;
      this.checked = true;
      this.basic.dialog = true;
      this.form.id = dados.id;
      this.form.name = dados.name;
      this.form.perfil = dados.perfil;
      this.form.password = dados.password;
      this.form.titulo = dados.titulo;
      this.form.texto = dados.texto;
    },
    excluir: function (id) {
      var _this = this;
      MessageBox({
        title: "Responda",
        message: "Deseja excluir o registro?",
        type: "Danger",
        confirmButtonText: "Sim",
        cancelButtonText: "Não",
        showCancelButton: true
      }).then(function (action) {
        if (vm.$session.get("dados_usuarios").id == id) {
          window.getApp.$emit("APP_ERRO_DELETE");
        } else {
          _this.$http.delete("/api/Noticia/" + id)
            .then(data => {
              window.getApp.$emit("APP_DELETE");
              _this.$store.state.users.UserList.data
              _this.carrega()
            })
            .catch(() => { });
        }
      });
    },
    limparCampos: function () {
      this.basic.dialog = false;
      this.form.reset();
      this.form.errors = {};
    },
    carrega() {
      this.$http.get("/api/Noticia")
        .then(data => {
          console.log('data.data', data.data)
          this.dados = data.data
        })
        .catch(() => { });
      this.$http.get("/api/Noticia").then(({ data }) => (this.Noticia = data));
    },
    atualizar() {
    this.$Progress.start();
    let loader = this.$loading.show();
    this.$http.put("/api/Noticia/" + this.form.id, this.form)
      .then(data => {
        this.basic.dialog = false;
        window.getApp.$emit("APP_EDIT");
        this.carrega();
        loader.hide();
      })
      .catch((e) => {
        this.form.errors = e.response.data.errors;
        console.log(e.response.data.errors);
      });
}

  },
  computed: {
    loadDados() {
      this.carrega()
    }
  },
};
</script>




