
<template>
    <div id="pageTable">
      <v-container grid-list-xl fluid>
        <v-layout row wrap v-bind="loadDados">
          <v-flex lg12>
            <div slot="widget-content">
              <v-dialog v-model="basic.dialog" persistent max-width="500px">
                <v-btn color="primary" dark slot="activator">Novo Registro</v-btn>
                <v-card>
                  <form>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <v-text-field v-model="form.titulo" name="name" label="Titulo"></v-text-field>
                            <v-text-field v-model="form.texto" name="Data" label="Texto"></v-text-field>
                          </v-flex>
                          <div class="col-md-5" >
                              <label >
                              <div class="select-button">
                              <span v-if="file!=''">Foto selecionada</span>
                              <span v-else>Selecione uma foto</span>
                              </div>
                              <input 
                              type="file" @change="onFilePicked"
                              accept="image/*"
                              />
                          </label>
                          </div>
                          <br><br><br><br>
                          <v-flex xs12 class="posicao" style="margin-left: 5px;">
                            <v-checkbox @click.native="checked = !checked" primary hide-details class="flutuar"
                              v-if="editmode"></v-checkbox>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" flat @click.native="fechaModal()">Fechar</v-btn>
                      <v-btn color="blue darken-1" type="submit" flat>Salvar</v-btn>
                    </v-card-actions>
                  </form>
                </v-card>
              </v-dialog>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </template>
  <script>
  import VWidget from "@/components/VWidget";
  import { Message, MessageBox } from "element-ui";
  import { vm } from "../../../main";
  export default {
    components: {
      VWidget
    },
    data() {
      return {
        loading: false,
        avisos: {},
        search: "",
        perfil: [],
        dados: [],
        Noticia: [],
        checked: false,
        editmode: false,
        basic: {
          dialog: false
        },

        fullscreen: {
          dialog: false,
          notifications: false,
          sound: true,
          widgets: false
        },
        form: new Form({
        file:"",
        texto:"",
        titulo:"",
        }),
      };
    },
    methods: {
      onChange(e) {
                this.form.file = e.target.files[0];
            },      
      onFilePicked (e) {
        let campo = e.target.name;
        
        let file = e.target.files[0];
        if(file) {
          let reader = new FileReader();
          this.form.file = file.name 
          let tipo = file['type'].split('/')[0];
          let limit = 1024 * 1024 * 2;
          if(tipo=='image'){
              if(file['size'] > limit){
                    alert('Sua imagem é maior que 2MB')
                  return false;
              }
          }else{
                alert('Somente imagens')
              return false;
          }
          var canvas=document.getElementById("canvas");
          var ctx=canvas.getContext("2d");  
          var img = new Image;
          var maxW=130;
          var maxH=130;        
          
          reader.onloadend = (file) => {
              console.log("file imagem",file)
              this.form.file = reader.result;
              img.onload = function() {
                var iw=img.width;
                var ih=img.height;
                var scale=Math.min((maxW/iw),(maxH/ih));
                var iwScaled=iw*scale;
                var ihScaled=ih*scale;
                canvas.width=iwScaled;
                canvas.height=ihScaled;
                ctx.drawImage(img,0,0,iwScaled,ihScaled);
              }
              img.src = reader.result;            
          }
          reader.readAsDataURL(file);
        }
  
    },         
      salvar: function () {
        this.$Progress.start();
        let loader = this.$loading.show();
        this.$http.post("/api/Noticia", this.form).then(data => {
          this.limparCampos()
          window.getApp.$emit("APP_SAVE");
          loader.hide();
        })
          .catch((e) => {
            this.form.errors = e.response.data.errors;
            console.log(e.response.data.errors);
            loader.hide();
          });
        this.$Progress.finish();
      },  
    },

  };
  </script>