<template>
    <div id="pageTable">
        <v-container grid-list-xl fluid>
            <v-layout row wrap v-bind="loadDados">
                <!-- <v-flex xl4></v-flex> -->
                <v-flex lg12>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-text-field flat solo prepend-icon="search" placeholder="Busca" v-model="search" hide-details
                                class="hidden-sm-and-down"></v-text-field>
                            <v-btn icon>
                                <v-icon>filter_list</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <v-data-table :headers="complex.headers" :search="search" :items="dados"
                                :rows-per-page-items="[10, 25, 50, { text: 'Todos', 'value': -1 }]"
                                rows-per-page-text="Itens por página" no-results-text="Nenhum dado encontrado"
                                no-data-text="Não há dados disponí­veis" class="elevation-1" item-key="id" select-all
                                v-model="complex.selected">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                    </td>
                                    <td>{{ props.item.name }}</td>
                                    <td>{{ props.item.Titulacao }}</td>
                                    <td>{{ props.item.Lattes }}</td>
                                    <td class="text-xs-center">
                                    </td>
                                </template>
                                <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                                    {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<style scope="">
.flutuar {
    position: absolute;
    left: -17px;
    top: -2px;
}

.posicao {
    position: relative;
}

.theme--light.v-messages {
    display: none !important;
}

.v-text-field {
    padding-top: 2px !important;
    margin-top: 2px !important;
}

.v-input--selection-controls__ripple {
    height: 31px !important;
    width: 34px !important;
    left: -17px !important;
    top: calc(42% - 24px) !important;
}
</style>
    
<script>
import VWidget from "@/components/VWidget";
import { Message, MessageBox } from "element-ui";
import { vm } from "../../../main";
export default {
    components: {
        VWidget
    },
    data() {
        return {
            loading: false,
            avisos: {},
            search: "",
            busca_informacoes: [],
            setor: [],
            empresas: [],
            funcao: [],
            dados: [],
            itens: {
                icon: "account_circle",
                href: "#",
                slot: "activator",
                title: "Dados",
                rota: "publica",
                mostra: true,
            },
            checked: false,
            editmode: false,
            basic: {
                dialog: false
            },
            select: { texto: 'Funcionario', id: '0' },
            items: [
                { texto: 'Funcionario', id: '0' },
                { texto: 'Administrativo', id: '1' },

            ],
            fullscreen: {
                dialog: false,
                notifications: false,
                sound: true,
                widgets: false
            },
            form: new Form({
                id: '',
                name: '',
                Titulacao: '',
                Situacao: '',
                Nivel: '',
                Email: '',
                Email_Institucional: '',
                Lattes: '',
                errors: {}
            }),
            complex: {
                selected: [],
                headers: [
                    {
                        text: "NOME",
                        align: "left",
                        value: "name"
                    },
                    { text: "SITUAÇÂO", value: "Situacao" },
                    { text: "LATES", value: "Lattes" },
                ]
            }
        };
    },
    methods: {
        fechaModal: function () {
            this.editmode = false;
            this.checked = false;
            this.limparCampos()
        },
        getDados: function (dados) {
            this.editmode = true;
            this.checked = true;
            this.basic.dialog = true;
            this.form.id = dados.id;
            this.form.name = dados.name;
            this.form.perfil = dados.perfil;
            this.form.password = dados.password;
            this.form.username = dados.username;
        },
        limparCampos: function () {
            this.basic.dialog = false;
            this.form.reset();
            this.form.errors = {};
        },
    },
    computed: {
        loadDados() {
            if (this.dados) {
                return this.dados
            }
        }
    },
    mounted() {
        this.$http.get("/api/Professor")
            .then(data => {
                console.log('data.data', data.data)
                this.dados = data.data
            })
            .catch(() => { });
    },

    created() {
    }
};
</script>