<template>
  <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap v-bind="loadDados">
        <!-- <v-flex xl4></v-flex> -->
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field flat solo prepend-icon="search" placeholder="Busca" v-model="search" hide-details
                class="hidden-sm-and-down"></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table :headers="complex.headers" :search="search" :items="dados"
                :rows-per-page-items="[10, 25, 50, { text: 'Todos', 'value': -1 }]" rows-per-page-text="Itens por página"
                no-results-text="Nenhum dado encontrado" no-data-text="Não há dados disponí­veis" class="elevation-1"
                item-key="id" select-all v-model="complex.selected">
                <template slot="items" slot-scope="props">
                  <td>
                    <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                  </td>
                  <td>{{ props.item.tipo }}</td>
                  <td>{{ props.item.resumo }}</td>
                  <td>{{ props.item.palavras_chave }}</td>
                  <td>{{ props.item.periodo_inicio}}</td>
                  <td>{{ props.item.periodo_finalizacao }}</td>
                  <td>{{ props.item.titulo}}</td>
                  <td>{{ props.item.coordenador }}</td>
                  <td>{{ props.item.linhas_pesquisa }}</td>

                </template>
                <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                  {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<style scope="">
.flutuar {
  position: absolute;
  left: -17px;
  top: -2px;
}

.posicao {
  position: relative;
}

.theme--light.v-messages {
  display: none !important;
}

.v-text-field {
  padding-top: 2px !important;
  margin-top: 2px !important;
}

.v-input--selection-controls__ripple {
  height: 31px !important;
  width: 34px !important;
  left: -17px !important;
  top: calc(42% - 24px) !important;
}
</style>
  
<script>
import VWidget from "@/components/VWidget";
import { Message, MessageBox } from "element-ui";
import { vm } from "../../../main";
export default {
  components: {
    VWidget
  },
  data() {
    return {
      loading: false,
      avisos: {},
      search: "",
      perfil: [],
      dados: [],
      Evento: [],
      checked: false,
      editmode: false,
      basic: {
        dialog: false
      },
      select: { texto: 'Usuário', id: '0' },
      items: [
        { texto: 'Usuário', id: '0' },
        { texto: 'Administrativo', id: '1' },

      ],
      fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false
      },
      form: new Form({
        tipo: '',
        resumo: '',
        palavras_chave: '',
        periodo_inicio: '',
        periodo_finalizacao: '',
        titulo: '',
        coordenador: '',
        linhas_pesquisa: '',
        errors: {}
      }),
      complex: {
        selected: [],
        headers: [
          {
            text: "Nome",
            align: "left",
            value: "name"
          },
          { text: "Início", value: "Data" },
          { text: "Término", value: "DataEncerramento" },
          { text: "Tipo", value: "Tipo" },
          { text: "Titulo", value: "Titulo" },
          { text: "Campus", value: "Campus" },
          { text: "Linha de pesquisa", value: "linhas_pesquisa" },
        ]
      }
    };
  },
  methods: {
    carrega() {
      this.$http.get("/api/Projeto")
        .then(data => {
          console.log('data.data', data.data)
          this.dados = data.data
        })
        .catch(() => { });
      this.$http.get("/api/Projeto").then(({ data }) => (this.Evento = data));
    },
  },
  computed: {
    loadDados() {
      this.carrega()
    }
  },
  mounted() {

  },
  created() {

  }
};
</script>