<template>
    <div id="pageTable">
      <v-container grid-list-xl fluid>
        <v-layout row wrap v-bind="loadDados">
          <v-flex lg12>
            <v-card>
              <v-toolbar card color="white">
                <v-text-field flat solo prepend-icon="search" placeholder="Busca" v-model="search" hide-details
                  class="hidden-sm-and-down"></v-text-field>
                <v-btn icon>
                  <v-icon>filter_list</v-icon>
                </v-btn>
              </v-toolbar>
              <v-divider></v-divider>
              <v-card-text class="pa-0">
                <v-data-table :headers="complex.headers" :search="search" :items="dados"
                  :rows-per-page-items="[10, 25, 50, { text: 'Todos', 'value': -1 }]" rows-per-page-text="Itens por página"
                  no-results-text="Nenhum dado encontrado" no-data-text="Não há dados disponí­veis" class="elevation-1"
                  item-key="id" select-all v-model="complex.selected">
                  <template slot="items" slot-scope="props">
                    <td>
                      <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                    </td>
                    <td>{{ props.item.name}}</td>
                    <td>{{ props.item.professor }}</td>
                    <td>{{ props.item.Data }}</td>
                    <td>{{ props.item.Link }}</td>
                    <td>{{ props.item.Campus }}</td>
                  </template>
                  <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                    {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </template>
  <style scope="">
  .flutuar {
    position: absolute;
    left: -17px;
    top: -2px;
  }
  
  .posicao {
    position: relative;
  }
  
  .theme--light.v-messages {
    display: none !important;
  }
  
  .v-text-field {
    padding-top: 2px !important;
    margin-top: 2px !important;
  }
  
  .v-input--selection-controls__ripple {
    height: 31px !important;
    width: 34px !important;
    left: -17px !important;
    top: calc(42% - 24px) !important;
  }
  </style>
    
  <script>
  import VWidget from "@/components/VWidget";
  import { Message, MessageBox } from "element-ui";
  import { vm } from "../../../main";
  export default {
    components: {
      VWidget
    },
    data() {
      return {
        loading: false,
        avisos: {},
        search: "",
        perfil: [],
        dados: [],
        Evento: [],
        checked: false,
        editmode: false,
        basic: {
          dialog: false
        },
        select: { texto: 'Usuário', id: '0' },
        items: [
          { texto: 'Usuário', id: '0' },
          { texto: 'Administrativo', id: '1' },
  
        ],
        fullscreen: {
          dialog: false,
          notifications: false,
          sound: true,
          widgets: false
        },
        Professor:[],
        form: new Form({
          name: '',
          professor: '',
          Data: '',
          Campus: '',
          Link: '',
          errors: {}
        }),
        complex: {
          selected: [],
          headers: [
            {
              text: "name",
              align: "left",
              value: "name"
            },
            { text: "Professor", value: "professor" ,},
            { text: "Data", value: "Data", },
            { text: "Tipo", value: "Tipo", },
            { text: "Campus", value: "Campus" ,},
            { text: "Ações", value: "action", align: "center" }
          ]
        }
      };
    },
    methods: {
      getDados: function (dados) {
        this.editmode = true;
        this.checked = true;
        this.basic.dialog = true;
        this.form.id = dados.id;
        this.form.name = dados.name;
        this.form.perfil = dados.perfil;
        this.form.password = dados.password;
        this.form.data = dados.Data;
        this.form.Tipo = dados.Tipo;
        this.form.Link = dados.Link;
        this.form.Campus = dados.Campus;
  
      },
      carrega() {
        this.$http.get("/api/Evento")
          .then(data => {
            console.log('data.data', data.data)
            this.dados = data.data
          })
          .catch(() => { });
        this.$http.get("/api/Evento").then(({ data }) => (this.Evento = data));
      },
    },
    computed: {
      loadDados() {
        this.carrega()
      }
    },
    mounted() {
      this.$http.get("/api/Professor").then(({ data }) => (this.Professor=data));    
    },
    created() {
    }
  };
  </script>
  
  
  
  
  