<template>
    <v-app id="login" class="primary">
      <v-content>
        <v-container fluid fill-height justify-center>
          <div id="fundo_principal"></div>
          <v-flex xs12 sm8 md4 lg4>
            <v-spacer></v-spacer>
            <br>
            <!-- <img src="https://cdn.discordapp.com/attachments/779770805407973376/1115084906104619038/Imagem_do_WhatsApp_de_2023-06-04_as_22.04.10.jpg" alt=""> -->
            <v-card class="elevation-1 pa-3" id="cardM">
              <v-card-text>
                <div class="layout column align-center">
                  <br>
                </div>
                <v-form @submit.prevent="salvar" >
                <v-container fluid text-xs-center>
                    <v-layout row wrap> 
                    <v-flex xs12 sm6 md4> 
                        <v-text-field
                        v-model="form.username"
                        :rules="nameRules"
                        :counter="30"
                        label="username"
                        required
                        ></v-text-field>
                    </v-flex>
                        <v-flex xs12 sm6 md4> 
                        <v-text-field
                        v-model="form.email"
                        :rules="emailRules"
                        :counter="30"
                        label="email"
                        required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4> 
                        <v-text-field
                        v-model="form.password"
                        label="password"
                        required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4> 
                    <v-text-field
                        v-model="form.name"
                        :rules="nameRules"
                        :counter="30"
                        label="name"
                        required
                    ></v-text-field>
                    </v-flex>
                        <div class="col-md-5" >
                            <label >
                            <div class="select-button">
                            <span v-if="file!=''">Foto selecionada</span>
                            <span v-else>Selecione uma foto</span>
                            </div>
                            <input 
                            type="file" @change="onFilePicked"
                            accept="image/*"
                            />
                        </label>
                        </div>
                        <br><br><br><br>
                        <v-flex xs12 >
                            <canvas style="float: left;"  id="canvas" width=64 height=64></canvas>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-btn class="primary" style="float:right" type="submit">salvar</v-btn>
                </v-form>
              </v-card-text>
              <div class="login-btn">
                <v-spacer></v-spacer>
                <v-btn texto-branco block color="laranja" @click="login" :loading="loading">ENTRAR</v-btn>
              </div>
              <div class="createacc-btn">
                <v-spacer></v-spacer>
                <v-btn texto-branco block color="laranja" @click="register" :loading="loading">CRIAR UMA CONTA</v-btn>
              </div>
            </v-card>
            <br>
          </v-flex>
        </v-container>
      </v-content>
    </v-app>
  </template>
  
  <script>
  export default {
    data: () => ({
      valid: false,
      file:"",
      imageUrl:[],
      form:{
        id:'',
        name:'',
        username: '',
        email: '',
        password:'',
        file:"",
      },
      lastname: '',
      //regra de requerimento
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 30 || 'Name must be less than 10 characters',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    }),
    methods: {
      onChange(e) {
                this.form.file = e.target.files[0];
            },      
      onFilePicked (e) {
        let campo = e.target.name;
        
        let file = e.target.files[0];
        if(file) {
          let reader = new FileReader();
          this.file = file.name 
          let tipo = file['type'].split('/')[0];
          let limit = 1024 * 1024 * 2;
          if(tipo=='image'){
              if(file['size'] > limit){
                    alert('Sua imagem é maior que 2MB')
                  return false;
              }
          }else{
                alert('Somente imagens')
              return false;
          }
          var canvas=document.getElementById("canvas");
          var ctx=canvas.getContext("2d");  
          var img = new Image;
          var maxW=130;
          var maxH=130;        
          
          reader.onloadend = (file) => {
              console.log("file imagem",file)
              this.form.file = reader.result;
              img.onload = function() {
                var iw=img.width;
                var ih=img.height;
                var scale=Math.min((maxW/iw),(maxH/ih));
                var iwScaled=iw*scale;
                var ihScaled=ih*scale;
                canvas.width=iwScaled;
                canvas.height=ihScaled;
                ctx.drawImage(img,0,0,iwScaled,ihScaled);
              }
              img.src = reader.result;            
          }
          reader.readAsDataURL(file);
        }
  
    }, 
    limparCampos:function(){
      Object.assign(this.$data.form,this.$options.data().form)
      this.form.errors={};    
    },
    salvar: function(e) {
          this.$Progress.start();              
          this.$http.post("/api/User",this.form).then(data => {
              this.limparCampos();
              window.getApp.$emit("APP_SAVE");
            })
            .catch((e) => {
              this.form.errors = e.response.data.errors;
              console.log(e.response.data.errors);
            });
          this.$Progress.finish();
        }
      }
  }
  </script>
  <style scoped lang="css">
  #fundo_principal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
    background-color: #F3EBF6 !important;
    border-color: #083244 !important;
    /* background-image: url('https://cdn.discordapp.com/attachments/601476195934142466/1115024650137768068/DMTE.png'); */
  
  }
  
  #login {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
  
  img {
    z-index: 1;
  }
  
  .theme--light.v-sheet {
    background-color: #fff !important;
    border-color: #000000;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 8px;
    box-shadow: 0px 2px 7px rgb(10 10 10 / 4%) !important;
  }
  
  .primary {
    background-color: #fff !important;
    border-color: #000000 !important;
  }
  
  .split-bg {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
  
  .fundo-verde {
    background: #1c501e;
    padding: 0px !important;
  }
  
  .fundo-branco {
    background: #fff !important;
    padding: 0px !important;
  }
  
  .borda-redonda {
    border-radius: 11px;
  }
  
  .texto-branco {
    color: #fff;
  }
  
  .cinza {
    background-color: #c5c5c5 !important;
    color: #333;
    border-radius: 15px;
    top: -21px;
    font-weight: 300;
  }
  
  .laranja {
    background: linear-gradient(to right, #9C27B0, #E040FB);
    height: 41px;
    border-radius: 5em;
    top: -21px;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  
  .titulo {
    font-weight: 300;
    font-size: 15px;
    color: #000200;
  }
  
  .toolbar-background-md {
    background-color: #1c501e;
  }
  
  .v-icon.v-icon--link {
    color: rgb(28, 80, 30) !important;
  }
  
  .v-card {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
  
  .v-form {
    position: relative;
    top: -32px;
  }
  
  .theme--light.v-icon,
  .theme--light.v-list {
    color: #296b2b !important;
  }
  </style>
  
  };
  </script>
  <style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
  </style>
  