<template>
  <v-container>
    <v-parallax dark src="/imagens/DMTE.png"></v-parallax>
    <br /><br />
    <v-content>
      <h2 class="event-title" style="font-weight: bold; font-size: 24px;">Últimos Eventos</h2>
    </v-content>
    <v-layout justify-space-around>
      <v-row v-for="evento in eventos" :key="evento.id" cols="12" xs="12" sm="7" md="6">
        <v-card outlined>
          <v-card-title>
            <h3>{{ evento.Titulo }}</h3>
          </v-card-title>
          <v-card-text>
            <img :src="'http://localhost/Sistema_DMTE-main/backend/public/public/imagem/' + evento.file" alt="" class="custom-image">
            <p><strong>Data:</strong> {{ evento.Data }}</p>
            <p><strong>Nome:</strong> {{ evento.name }}</p>
            <p><strong>Link:</strong> <a @click="redirectToLink(evento.Link)">{{ evento.Link }}</a></p>
          </v-card-text>
        </v-card>
      </v-row>
    </v-layout>
    <v-content>
      <h2 class="event-title" style="font-weight: bold; font-size: 24px;">Noticias</h2>
    </v-content>
    <v-layout justify-space-around>
      <v-row v-for="noticia in noticias" :key="noticia.id" cols="12" xs="12" sm="6" md="3" lg="3">
        <v-card outlined>
          <v-card-title>
            <h3>{{ noticia.Titulo }}</h3>
          </v-card-title>
          <v-card-text>
            <img :src="'http://localhost/Sistema_DMTE-main/backend/public/public/noticias/' + noticia.file" alt="" class="custom-image">
            <p><strong></strong> {{ noticia.titulo }}</p>
            <p><strong></strong> {{ noticia.texto }}</p>
          </v-card-text>
        </v-card>
      </v-row>
    </v-layout>
  <v-content>
    <h2 class="event-title" style="font-weight: bold; font-size: 24px;">Projetos</h2>
  </v-content>
    <v-layout justify-space-around>
      <v-row v-for="Projeto in projetos" :key="Projeto.id" cols="12" sm="6" md="3">
        <v-flex>
          <v-card>
          <v-card-title class="project-title">
            {{ Projeto.nome }}
          </v-card-title>
          <v-card-text>
            <p><strong>Resumo:</strong> {{ Projeto.resumo }}</p>
            <p><strong>Palavras-chave:</strong> {{ Projeto.palavras_chave }}</p>
            <p><strong>Período de Início:</strong> {{ Projeto.periodo_inicio }}</p>
          </v-card-text>
        </v-card>
        </v-flex>
      </v-row>
    </v-layout>
  </v-container>
</template>


<script>
import { computed } from 'vue';

export default {
  props: {
    eventos: {
      type: Array,
      required: true,
    },
    projetos: {
      type: Array,
      required: true,
    },
    noticias: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      reveal: false,
    };
  },
  created() {
    this.$store.dispatch('getPerfil');
    this.$store.dispatch('getPermissao');
    this.RecentEvents();
    this.RecentNews();
    this.carrega();
  },
  methods: {
    redirectToLink(link) {
      window.location.href = link;
    },
    
    RecentEvents() {
      this.$http.get('/api/ultimosEventos').then(({ data }) => {
        this.eventos = data;
      });
    },
    RecentNews() {
      this.$http.get('/api/UltimasNoticias').then(({ data }) => {
        this.noticias = data;
      });
    },
    carrega() {
      this.$http.get("/api/Projeto")
        .then(data => {
          console.log('data.data', data.data)
          this.dados = data.data
        })
        .catch(() => { });
      this.$http.get('/api/Projeto').then(({ data }) => (this.projetos = data));
    },
  },


};
</script>

<style>
.event-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  width: calc(33.33% - 20px);
  /* Para exibir três colunas em telas maiores */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card-title {
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.v-card-text {
  padding: 10px;
}
.custom-image {
  max-width: 100%;
  max-height: 100vh; /* Usando 33.33% da altura da tela */
}
.project-title {
  background-color: #007BFF; /* Cor de fundo desejada */
  color: #fff; /* Cor do texto dentro do título */
  padding: 10px; /* Espaçamento interno do título */
  font-size: 24px; /* Tamanho da fonte do título */
  text-align: center; /* Alinhamento do texto no centro */
}
</style>