<template>
    <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap v-bind="loadDados">
        <!-- <v-flex xl4></v-flex> -->
        <v-flex lg12>
          <div slot="widget-content">
            <v-dialog v-model="basic.dialog" persistent max-width="500px">
              <v-btn color="primary" dark slot="activator">Novo Registro</v-btn>
              <v-card>
                <form @submit.prevent="editmode ? atualizar() : uploadDataAndFile()">
                  <v-card-title>
                    <span class="headline">{{ editmode ? 'Editar Evento' : 'Adicionar Evento' }}</span>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-form @submit.prevent="uploadDataAndFile" class="form">
                        <v-flex xs12>
                          <label for="titulo">Título:</label>
                          <v-text-field v-model="form.titulo" required class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <label for="orientador">Orientador:</label>
                          <v-text-field v-model="form.orientador" required class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <label for="orientando">Orientando(a):</label>
                          <v-text-field v-model="form.orientando" class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <label for="campus">Campus:</label>
                          <v-text-field v-model="form.campus" required class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <label for="palavras_chave">Palavras-chave:</label>
                          <v-text-field v-model="form.palavras_chave" required class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <label for="resumo">Resumo:</label>
                          <v-textarea v-model="form.resumo" required class="textarea-field"></v-textarea>
                        </v-flex>
                        <v-flex xs12>
                          <v-select
                            label="Select"
                            :items="['Educação', 'Linguagem', 'Educação Histórica', 'Educação e Sociedade', 'Educação na Diversidade', 'Educação Infantil', 'Práticas Educativas nos AIEF']"
                            v-model="form.linhasdepesquisa"
                          ></v-select>
                        </v-flex>
                        <v-flex xs12>
                          <label for="ano_defesa">Ano de Defesa:</label>
                          <v-text-field type="date" v-model="form.anodefesa" class="input-field"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <input type="file" @change="handleFileChange" accept="application/pdf" required class="file-input" />
                          </v-flex>
                      </v-form>
                        <br><br><br><br>
                        <v-flex xs12 class="posicao" style="margin-left: 5px;">
                          <v-checkbox @click.native="checked = !checked" primary hide-details class="flutuar"
                            v-if="editmode"></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="fechaModal()">Fechar</v-btn>
                    <v-flex xs12 class="form-actions">
                      <v-btn type="submit" class="submit-button">Enviar</v-btn>
                    </v-flex>
                  </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
          </div>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Busca"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="dados"
                :rows-per-page-items="[10,25,50,{text:'Todos','value':-1}]"
                rows-per-page-text="Itens por página"
                no-results-text="Nenhum dado encontrado"
                no-data-text= "Não há dados disponí­veis"                
                class="elevation-1"
                item-key="id"
                select-all
                v-model="complex.selected"
              >
                <template slot="items" slot-scope="props" v-if="props.item.id > 1">
                  <td></td>
                  <td>{{ props.item.titulo }}</td>
                  <td>{{ props.item.orientador }}</td>
                  <td>{{ props.item.campus }}</td>
                  <td>{{ props.item.palavras_chave }}</td>
                  <td>{{ props.item.resumo }}</td>
                  <td>{{ props.item.orientando }}</td>
                  <td>
                    <v-btn
                      @click.native="getDados(props.item)"
                      depressed
                      outline
                      icon
                      fab
                      dark
                      color="primary"
                      small
                    >
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn
                      depressed
                      outline
                      icon
                      fab
                      dark
                      color="pink"                      
                      small
                      @click.native="excluir(props.item.id)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <v-btn
                      depressed
                      outline
                      icon
                      fab
                      dark
                      color="green"
                      small
                      @click.native="baixarMonografia(props.item.id)"
                    >
                      <v-icon>get_app</v-icon>
                    </v-btn>
                  </td>
                </template>
                <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                        {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                </template>                
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<style scope="">
.flutuar {
  position: absolute;
  left: -17px;
  top: -2px;
}
.posicao {
  position: relative;
}
.theme--light.v-messages {
  display: none !important;
}
.v-text-field {
  padding-top: 2px !important;
  margin-top: 2px !important;
}
.v-input--selection-controls__ripple {
  height: 31px !important;
  width: 34px !important;
  left: -17px !important;
  top: calc(42% - 24px) !important;
}
</style>

<script>
import VWidget from "@/components/VWidget";
import { Message, MessageBox } from "element-ui";
export default {
  components: {
    VWidget
  },
  data() {
    return {
      cadastroEventoAberto: false,
      loading: false,
      avisos: {},
      search: "",
      dados:[],
      Professor:[],
      monografias:[],
      checked: false,
      editmode: false,
      basic: {
        dialog: false
      },
      select: { texto: 'Usuário', id: '0' },
      items: [
        { texto: 'Usuário', id: '0' },
        { texto: 'Administrativo', id: '1' },
      
      ],      
      fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false
      },
      name: '',
            file: '',
            success: '',
      form:{
        texto: "",
        titulo: "",
        file:"",
        errors:{}
      },
      complex: {
        selected: [],
        headers: [
        {
          text: "Título",
          align: "left",
          value: "titulo"
        },
        {
          text: "Orientador",
          value: "orientador"
        },
        {
          text: "Campus",
          value: "campus"
        },
        {
          text: "Palavras-chave",
          value: "palavras_chave"
        },
        {
          text: "Resumo",
          value: "resumo"
        },
        {
          text: "Orientando",
          value: "orientando"
        },
          { text: "Ações", value: "action" ,align:"left"}
        ]
      }
    };
  },
  methods: {
  baixarMonografia(monografiaId) {
  console.log("Iniciando download...");

  this.$http.get(`/api/get-pdf/${monografiaId}`, { responseType: 'arraybuffer' })
    .then(response => {
      console.log("Resposta recebida:", response);

      const blob = new Blob([response.data], { type: 'application/pdf' });

      const fileUrl = window.URL.createObjectURL(blob);
      console.log("URL do arquivo criada:", fileUrl);

      const fileLink = document.createElement('a');
      fileLink.href = fileUrl;

      let fileName = 'documento.pdf'; // Nome padrão caso o cabeçalho não esteja presente
      const contentDisposition = response.headers['content-disposition'];
      if (contentDisposition) {
        const match = contentDisposition.match(/filename=([^;]+)/);
        if (match) {
          fileName = match[1];
        }
      }

      console.log("Nome do arquivo:", fileName);

      fileLink.setAttribute('download', fileName);
      document.body.appendChild(fileLink);
      console.log("Link do arquivo adicionado ao body.");

      fileLink.click();
      console.log("Clique no link do arquivo.");

      document.body.removeChild(fileLink);
      console.log("Link do arquivo removido.");

      console.log("Download concluído.");
    })
    .catch(error => {
      console.error('Erro no download:', error);
    });
},
handleFileChange(event) {
        this.selectedFile = event.target.files[0];
      },
      async uploadDataAndFile() {
        this.$Progress.start();
        
        const formData = new FormData();
        formData.append('pdf', this.selectedFile);
  
        for (const key in this.form) {
          formData.append(key, this.form[key]);
        }
  
        try {
          const response = await this.$http.post('/api/monografias', formData);
          console.log(response.data);
          this.carrega();
          window.getApp.$emit('APP_SAVE');
        } catch (error) {
          this.form.errors = error.response.data.errors;
          console.log(error.response.data.errors);
        } finally {
          this.$Progress.finish();
        }
      },
    onFileChange(e) {
              //console.log(e.target.files[0]);
              //this.filename = "Selected File: " + e.target.files[0].name;
              this.file = e.target.files[0];
              console.log("e.target.files[0]",e.target.files[0])
          },
          formSubmit(e) {
              e.preventDefault();
              let currentObj = this;
 
              const config = {
                  headers: { 'content-type': 'multipart/form-data' }
              }
  
              let formData = new FormData();
              formData.append('file', this.file);
 
              this.$http.post('/api/monografias', formData, config)
              .then(function (response) {
                  currentObj.success = response.data.success;
              })
              .catch(function (error) {
                  currentObj.output = error;
              });
          },              
    fechaModal: function() {
      this.editmode = false;
      this.checked = false;
      this.limparCampos()   
    },
    salvar: function() {
      this.$Progress.start();
      let loader = this.$loading.show();
      this.form.file = this.file;
      const config = {headers: { 'content-type': 'multipart/form-data' }}
      let formData = new FormData();
      formData.append('file', this.form);
      this.$http.post('/api/monografias', this.form).then(data => {
          console.log(data);
          this.limparCampos()
          this.cadastroEventoAberto = false;
          window.getApp.$emit("APP_SAVE");
          loader.hide();
        })
        .catch((e) => {
          this.form.errors = e.response.data.errors;
          console.log(e.response.data.errors);
        })
        .finally(() => {
          // This will be called after both success and error cases
          this.$Progress.finish();
        });
      this.$Progress.finish();
    },
    getDados: function(dados) {
      this.editmode = true;
      this.checked = true;
      this.basic.dialog = true;
      this.form.id = dados.id;
      this.form.name = dados.name;
      this.form.perfil = dados.perfil;
      this.form.password = dados.password;
      this.form.username = dados.username;
      this.form.titulo = dados.titulo;
      this.form. orientador = dados. orientador;
      this.form.campus = dados.campus;
      this.form.palavras_chave = dados.palavras_chave;
      this.form.resumo = dados.resumo;
      this.form.orientando = dados.orientando;
          
      
    },
    excluir: function (id) {
      var _this = this;
      MessageBox({
        title: "Responda",
        message: "Deseja excluir o registro?",
        type: "Danger",
        confirmButtonText: "Sim",
        cancelButtonText: "Não",
        showCancelButton: true
      }).then(function(action) {
          _this.$http.delete("/api/monografias/"+id)
            .then(data => {
              _this.carrega()
              window.getApp.$emit("APP_DELETE");
              _this.$store.state.users.UserList.data
              
            })
            .catch(() => {});          
      });
    },
    limparCampos: function () {
      this.basic.dialog = false;
      this.form.reset();
      this.form.errors = {};
    },
    carrega(){
      this.$http.get("/api/Monografia")
        .then(data => {
            console.log('data.data',data.data)
            this.dados = data.data
        })
        .catch(() => {});
        this.$http.get("/api/Monografia").then(({ data }) => (this.monografias=data));    
    },
    atualizar() {
      this.$Progress.start();    
      this.$http.put("/api/Monografia/" + this.form.id,this.form)
        .then(data => {
          this.basic.dialog = false;   
          window.getApp.$emit("APP_EDIT");
          this.carrega()
        })
        .catch((e) => {
          this.form.errors = e.response.data.errors;
          console.log(e.response.data.errors);
        });
      this.$Progress.finish();
    },

    carregaIm(){
    this.$http.get(`/getEventoPNG/${eventId}`)
    .then(response => {
      // Manipule a resposta conforme necessário
      console.log('Resposta da rota /getEventoPNG/', response.data);
    })
    .catch(error => {
      // Trate erros aqui, se necessário
      console.error('Erro ao fazer a requisição:', error);
    });
    }

  },
  computed: {
    loadDados() {
      this.carrega()
    }
  },
  mounted(){
    this.$http.get("/api/Monografia").then(({ data }) => (this.monografias = data)); 
  },
  created() {
  }
};
</script>