<template>
    <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap v-bind="loadDados">
        <!-- <v-flex xl4></v-flex> -->
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Busca"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="dados"
                :rows-per-page-items="[10,25,50,{text:'Todos','value':-1}]"
                rows-per-page-text="Itens por página"
                no-results-text="Nenhum dado encontrado"
                no-data-text= "Não há dados disponí­veis"                
                class="elevation-1"
                item-key="id"
                select-all
                v-model="complex.selected"
              >
                <template slot="items" slot-scope="props" v-if="props.item.id > 1">
                  <td></td>
                  <td>{{ props.item.titulo }}</td>
                  <td>{{ props.item.orientador }}</td>
                  <td>{{ props.item.campus }}</td>
                  <td>{{ props.item.palavras_chave }}</td>
                  <td>{{ props.item.resumo }}</td>
                  <td>{{ props.item.orientando }}</td>
                  <td>

                    <v-btn
                      depressed
                      outline
                      icon
                      fab
                      dark
                      color="green"
                      small
                      @click.native="baixarMonografia(props.item.id)"
                    >
                      <v-icon>get_app</v-icon>
                    </v-btn>
                  </td>
                </template>
                <template slot="pageText" scope="{ pageStart, pageStop, itemsLength }">
                        {{ pageStart }}-{{ pageStop }} de {{ itemsLength }}
                </template>                
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<style scope="">
.flutuar {
  position: absolute;
  left: -17px;
  top: -2px;
}
.posicao {
  position: relative;
}
.theme--light.v-messages {
  display: none !important;
}
.v-text-field {
  padding-top: 2px !important;
  margin-top: 2px !important;
}
.v-input--selection-controls__ripple {
  height: 31px !important;
  width: 34px !important;
  left: -17px !important;
  top: calc(42% - 24px) !important;
}
</style>

<script>
import VWidget from "@/components/VWidget";
import { Message, MessageBox } from "element-ui";
export default {
  components: {
    VWidget
  },
  data() {
    return {
      cadastroEventoAberto: false,
      loading: false,
      avisos: {},
      search: "",
      dados:[],
      Professor:[],
      monografias:[],
      checked: false,
      editmode: false,
      basic: {
        dialog: false
      },
      select: { texto: 'Usuário', id: '0' },
      items: [
        { texto: 'Usuário', id: '0' },
        { texto: 'Administrativo', id: '1' },
      
      ],      
      fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false
      },
      name: '',
            file: '',
            success: '',
      form:{
        id: "",
        nome: "",
        fk_professor: "",
        titulo: "",
        orientador: "",
        campus: "",
        palavras_chave: "",
        resumo: "",
        orientando: "",
        errors:{}
      },
      complex: {
        selected: [],
        headers: [
        {
          text: "Título",
          align: "left",
          value: "titulo"
        },
        {
          text: "Orientador",
          value: "orientador"
        },
        {
          text: "Campus",
          value: "campus"
        },
        {
          text: "Palavras-chave",
          value: "palavras_chave"
        },
        {
          text: "Resumo",
          value: "resumo"
        },
        {
          text: "Orientando",
          value: "orientando"
        },
        { text: "Ações", value: "action" ,align:"left"}
        ]
      }
    };
  },
  methods: {
    baixarMonografia(monografiaId) {
    console.log("Iniciando download...");

    this.$http.get(`/api/get-pdf/${monografiaId}`, { responseType: 'arraybuffer' })
        .then(response => {
        console.log("Resposta recebida:", response);

        const blob = new Blob([response.data], { type: 'application/pdf' });

        const fileUrl = window.URL.createObjectURL(blob);
        console.log("URL do arquivo criada:", fileUrl);

        const fileLink = document.createElement('a');
        fileLink.href = fileUrl;

        let fileName = 'documento.pdf'; // Nome padrão caso o cabeçalho não esteja presente
        const contentDisposition = response.headers['content-disposition'];
        if (contentDisposition) {
            const match = contentDisposition.match(/filename=([^;]+)/);
            if (match) {
            fileName = match[1];
            }
        }
        console.log("Nome do arquivo:", fileName);
        fileLink.setAttribute('download', fileName);
        document.body.appendChild(fileLink);
        console.log("Link do arquivo adicionado ao body.");

        fileLink.click();
        console.log("Clique no link do arquivo.");
        document.body.removeChild(fileLink);
        console.log("Link do arquivo removido.");
        console.log("Download concluído.");
        })
        .catch(error => {
        console.error('Erro no download:', error);
        });
    },
    getDados: function(dados) {
      this.editmode = true;
      this.checked = true;
      this.basic.dialog = true;
      this.form.id = dados.id;
      this.form.name = dados.name;
      this.form.perfil = dados.perfil;
      this.form.password = dados.password;
      this.form.username = dados.username;
      this.form.titulo = dados.titulo;
      this.form. orientador = dados. orientador;
      this.form.campus = dados.campus;
      this.form.palavras_chave = dados.palavras_chave;
      this.form.resumo = dados.resumo;
      this.form.orientando = dados.orientando;
    },
    

    carrega(){
      this.$http.get("/api/Monografia")
        .then(data => {
            console.log('data.data',data.data)
            this.dados = data.data
        })
        .catch(() => {});
        this.$http.get("/api/Monografia").then(({ data }) => (this.monografias=data));    
    },


  },
  computed: {
    loadDados() {
      this.carrega()
    }
  },
  mounted(){
    this.$http.get("/api/Monografia").then(({ data }) => (this.monografias = data)); 
  },
  created() {
  }
};
</script>