<template>
  <div>
    <v-form @submit.prevent="uploadDataAndFile" class="form">
        <v-flex xs12>
          <label for="titulo">Título:</label>
          <v-text-field v-model="form.titulo" required class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <label for="orientador">Orientador:</label>
          <v-text-field v-model="form.orientador" required class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <label for="orientando">Orientando(a):</label>
          <v-text-field v-model="form.orientando" class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <label for="campus">Campus:</label>
          <v-text-field v-model="form.campus" required class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <label for="palavras_chave">Palavras-chave:</label>
          <v-text-field v-model="form.palavras_chave" required class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <label for="resumo">Resumo:</label>
          <v-textarea v-model="form.resumo" required class="textarea-field"></v-textarea>
        </v-flex>
        <v-flex xs12>
          <v-select
            label="Select"
            :items="['Educação', 'Linguagem', 'Educação Histórica', 'Educação e Sociedade', 'Educação na Diversidade', 'Educação Infantil', 'Práticas Educativas nos AIEF']"
            v-model="form.linhasdepesquisa"
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <label for="ano_defesa">Ano de Defesa:</label>
          <v-text-field type="date" v-model="form.anodefesa" class="input-field"></v-text-field>
        </v-flex>
        <v-flex xs12>
            <input type="file" @change="handleFileChange" accept="application/pdf" required class="file-input" />
          </v-flex>
        <v-flex xs12 class="form-actions">
          <v-btn type="submit" class="submit-button">Enviar</v-btn>
        </v-flex>
      </v-form>
  </div>
  </template>
  
  <script>
  
  export default {
    data() {
      return {
        fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false
      },
        form: {
          titulo: '',
          orientador: '',
          linhasdepesquisa: '',
          campus: '',
          palavras_chave: '',
          resumo: '',
          anodefesa: '',
          orientando: '',
        },
        selectedFile: null,
      };
    },
    methods: {
      handleFileChange(event) {
        this.selectedFile = event.target.files[0];
      },
      async uploadDataAndFile() {
        this.$Progress.start();
        
        const formData = new FormData();
        formData.append('pdf', this.selectedFile);
  
        for (const key in this.form) {
          formData.append(key, this.form[key]);
        }
  
        try {
          const response = await this.$http.post('/api/monografias', formData);
          console.log(response.data);
          this.carrega();
          window.getApp.$emit('APP_SAVE');
        } catch (error) {
          this.form.errors = error.response.data.errors;
          console.log(error.response.data.errors);
        } finally {
          this.$Progress.finish();
        }
      },
      // Other methods from the previous code...
    },
  };
  </script>
  
  <style scoped>
  /* Your CSS styles ... */
  </style>
  