<template>
  <v-form @submit.prevent="uploadDataAndFile">
    <div style="border: 6px solid white; border-radius: 10px; background-color:#ffdaff; width: auto; padding: 5px;">
      <v-container fluid text-xs-center>
        <v-layout row wrap>
          <v-flex xs12 sm5 md3>
            <v-text-field
              v-model="form.titulo"
              label="Título"
              required
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm5 md3>
            <v-text-field
              v-model="form.orientador"
              label="Orientador"
              required
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm5 md3>
            <v-text-field
              v-model="form.campus"
              label="Campus"
              required
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm5 md3>
            <v-text-field
              v-model="form.palavras_chave"
              label="Palavras-chave"
              required
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-textarea
              v-model="form.resumo"
              label="Resumo"
              required
              filled
            ></v-textarea>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field
              v-model="form.ano_defesa"
              label="Ano de Defesa"
              type="date"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field
              v-model="form.orientando"
              label="Orientando(a)"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <input type="file" @change="handleFileChange" accept="application/pdf" required class="file-input" />
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <v-btn class="primary" style="float:right" type="submit">Enviar</v-btn>
  </v-form>
</template>

<script>
  export default {
    data: () => ({
      valid: false,
      form:{
        descricao:"",
        estado:"",
        name:"",	
        modelo:"",
        valor:"",	
        file:"",	
        marca:"",		
      },
      fullscreen: {
          dialog: false,
          notifications: false,
          sound: true,
          widgets: false
        },
      lastname: '',
    }),
    methods: {
      handleFileChange(){},
    limparCampos:function(){
      Object.assign(this.$data.form,this.$options.data().form)
      this.form.errors={};    
    },
    salvar: function() {
          this.$Progress.start();
          this.$http.post("/api/Equipamento",this.form).then(data => {
              this.limparCampos();
              window.getApp.$emit("APP_SAVE");
            })
            .catch((e) => {
              this.form.errors = e.response.data.errors;
              console.log(e.response.data.errors);
            });
          this.$Progress.finish();
        }
      }
  }

</script>